div { 
    border: 5px solid #66CC99;   
}

img { width:300px; border:5px solid green; 
       
}

.heading{ background-color: #CC0000; 
    display:flex; 
    justify-content: center;
    color: white;
    border: 5px solid solid green;
    margin: 5px;
    color:#66CC99;
    
    
        
}



.aboutMe{ background-color: #CC0000; 
    background-color: #CC0000;
    padding: 5px;
    margin:5px;
    padding:5px;
    color:#66CC99;
}		

.posts{ background-color:#CC0000;
    margin:5px;
}

.friendsList{ background-color: #CC0000;
    margin:5px;
    padding:5px;
}


